<!doctype html>
  <!--  Footer -->
  <p>
  <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3"> <small>© 2020 Copyright : FIRST OF HIS NAME, KING OF DO-BONG GU 
          <a href="https://awhb.tistory.com/"> HAN - BUM JK </a> </small>
      </div>
  </footer>

  </body>
</html>
